# Título 1
## Título 2
```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```
 
```python
s = "Python syntax highlighting"
print s
```
 
```
No language indicated, so no syntax highlighting. 
But let's throw in a <b>tag</b>.
```

In [6]:
print("Hola Mundo")

Hola Mundo

In [5]:
print("Hola Mundo")

Hola Mundo

In [4]:
print("Hola Mundo")

Hola Mundo

In [2]:
## Python es un lenguaje no tipado.
# Variables Primitivas
entero = 4
decimales = 1.1
nombre = "Ronny"
segundo_nombre = "Xavier" # segundoNombre X -> NO
casado = False
estudiante = True
hijos = None
print(type(entero))
print(type(decimales))
print(type(nombre))
print(type(segundo_nombre))
print(type(casado))
print(type(estudiante))
print(type(hijos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [15]:
cadena_de_texto = """## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado."""
print(cadena_de_texto)

## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.
## Python es un lenguaje no tipado.

In [5]:
print(entero)
entero = decimales
entero = hijos
entero = casado
entero = nombre
print(entero)

4
Ronny

In [8]:
#Condiciones
# Truty - Falsy
tuplas = (1,2,3) #Arreglos que no se pueden modificar
lista = [4,5,6] #Arreglos que sí se pueden modificar
diccionario = { 
    "nombre" : "Ronny"
}
 #if('Ronny'):
    #Línea uno
    #Línea dos
  #   print('Truty')
 #else:
    #Línea tres
    #Línea cuatro
 #    print('Falsy')
 #if(''):
    #Línea uno
    #Línea dos
 #    print('Truty')
 #else:
    #Línea tres
    #Línea cuatro
 #    print('Falsy')
nulo = None
 #if(nulo):
   #  print('Truty')
 #else:
   #  print('Falsy')
 #if(-1): #Truty
   # print('Truty')
 #else:
   # print('Falsy')
 #if(0): #Falsy
   # print('Truty')
 #else:
   # print('Falsy')
 #if(1): #Truty
   # print('Truty')
 #else:
   # print('Falsy')

if(()):
    print('Truty')
else:
    print('Falsy')
if((1,2,3)):
    print('Truty')
else:
    print('Falsy')
if([]):
    print('Truty')
else:
    print('Falsy')
if([1,2,3]):
    print('Truty')
else:
    print('Falsy')
if({}):
    print('Truty')
else:
    print('Falsy')
if({"nombre":"Ronny"}):
    print('Truty')
else:
    print('Falsy')

Falsy
Truty
Falsy
Truty
Falsy
Truty

In [10]:
arreglo = [1,2,3,4,5,6,7,8,9,10]

In [26]:
arreglo[0:3] #Coge índices del intervalo [0,3[
arreglo[5:] #Hasta el final
arreglo[:7] #Desde el principio
arreglo[-1] #Indice negativo, empieza desde el final
arreglo[3:-2]
arreglo[-8:8]
arreglo[-4:-1]
arreglo[-7:]
arreglo[:-3]
arreglo[:]

arregloTupla = (1,2,3,4,5,6,7,8,9,10)
arregloTupla[5:9]

(6, 7, 8, 9)

In [32]:
diccionario = { 
    "nombre" : "Ronny",
    "apellido" : "Eguez",
    "sueldo" : 1.2
}
diccionario['nombre']

'Ronny'

In [33]:
12 in arreglo

False

In [34]:
print(type(12 in arreglo))

<class 'bool'>

In [35]:
len(arreglo)
len(arregloTupla)
len(diccionario)

3

In [36]:
'nombre' in diccionario # Para diccionarios, se debe trabajar con
                        # las llaves

True

In [38]:
#arreglo.pop
#arreglo.insert
#arreglo.append
arreglo[0] = 2
arreglo

[2, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
for numeroLista in arregloTupla:
    print(numeroLista)

1
2
3
4
5
6
7
8
9
10

In [41]:
contador = 0
while contador < 10:
    print(contador)
    contador+=1

0
1
2
3
4
5
6
7
8
9

In [47]:
ronny = {
    True: "Ronny",
    False: "Jaramillo",
    1: False,
    1: 12.2,
    'edad': 21,
    "mascotas": [{
        "nombre1":"Canuto",
        "nombre2":"Luna"
    }],
    None: None
}
ronny

{True: 12.2,
 False: 'Jaramillo',
 'edad': 21,
 'mascotas': [{'nombre1': 'Canuto', 'nombre2': 'Luna'}],
 None: None}

In [48]:
ronny['edad'] = 20
ronny['apellido'] = 'Rojas'
ronny['mascotas'][0]['nombre1'] = 'Mascota'

In [49]:
ronny.keys()

dict_keys([True, False, 'edad', 'mascotas', None, 'apellido'])

In [50]:
ronny.values()

dict_values([12.2, 'Jaramillo', 20, [{'nombre1': 'Mascota', 'nombre2': 'Luna'}], None, 'Rojas'])

In [55]:
print(type(ronny.values()))
print(type(ronny.keys()))

<class 'dict_values'>
<class 'dict_keys'>

In [56]:
for valor in ronny.values():
    print(valor)

12.2
Jaramillo
20
[{'nombre1': 'Mascota', 'nombre2': 'Luna'}]
None
Rojas

In [57]:
1 == 1 or 2 == 2
1 != 1 and 2 != 2

False